CodeMatic/Web References/UpServer/upserver.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetVersion">
        <s:complexType />
      </s:element>
      <s:element name="GetVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServerUrl">
        <s:complexType />
      </s:element>
      <s:element name="GetServerUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServerUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNewFilePath">
        <s:complexType />
      </s:element>
      <s:element name="GetNewFilePathResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNewFilePathResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileList">
        <s:complexType />
      </s:element>
      <s:element name="GetFileListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="softname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sysinfo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="errinfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrInfoResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="GetVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="GetServerUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetServerUrl" />
  </wsdl:message>
  <wsdl:message name="GetServerUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetServerUrlResponse" />
  </wsdl:message>
  <wsdl:message name="GetNewFilePathSoapIn">
    <wsdl:part name="parameters" element="tns:GetNewFilePath" />
  </wsdl:message>
  <wsdl:message name="GetNewFilePathSoapOut">
    <wsdl:part name="parameters" element="tns:GetNewFilePathResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileListSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileList" />
  </wsdl:message>
  <wsdl:message name="GetFileListSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileListResponse" />
  </wsdl:message>
  <wsdl:message name="ErrInfoSoapIn">
    <wsdl:part name="parameters" element="tns:ErrInfo" />
  </wsdl:message>
  <wsdl:message name="ErrInfoSoapOut">
    <wsdl:part name="parameters" element="tns:ErrInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="UpServerSoap">
    <wsdl:operation name="GetVersion">
      <wsdl:input message="tns:GetVersionSoapIn" />
      <wsdl:output message="tns:GetVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServerUrl">
      <wsdl:input message="tns:GetServerUrlSoapIn" />
      <wsdl:output message="tns:GetServerUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNewFilePath">
      <wsdl:input message="tns:GetNewFilePathSoapIn" />
      <wsdl:output message="tns:GetNewFilePathSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileList">
      <wsdl:input message="tns:GetFileListSoapIn" />
      <wsdl:output message="tns:GetFileListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ErrInfo">
      <wsdl:input message="tns:ErrInfoSoapIn" />
      <wsdl:output message="tns:ErrInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UpServerSoap" type="tns:UpServerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="http://tempuri.org/GetVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerUrl">
      <soap:operation soapAction="http://tempuri.org/GetServerUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewFilePath">
      <soap:operation soapAction="http://tempuri.org/GetNewFilePath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileList">
      <soap:operation soapAction="http://tempuri.org/GetFileList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrInfo">
      <soap:operation soapAction="http://tempuri.org/ErrInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UpServerSoap12" type="tns:UpServerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVersion">
      <soap12:operation soapAction="http://tempuri.org/GetVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerUrl">
      <soap12:operation soapAction="http://tempuri.org/GetServerUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewFilePath">
      <soap12:operation soapAction="http://tempuri.org/GetNewFilePath" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileList">
      <soap12:operation soapAction="http://tempuri.org/GetFileList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrInfo">
      <soap12:operation soapAction="http://tempuri.org/ErrInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpServer">
    <wsdl:port name="UpServerSoap" binding="tns:UpServerSoap">
      <soap:address location="http://www.maticsoft.com/upserver.asmx" />
    </wsdl:port>
    <wsdl:port name="UpServerSoap12" binding="tns:UpServerSoap12">
      <soap12:address location="http://www.maticsoft.com/upserver.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>